{% extends "base.html" %}

{% block title %}{{ term.name }} | {{ config.title }}{% endblock %}

{% block content %}
<section class="section-page">
    <h1>{{ term.name }}</h1>
    <p>{{ trans(key='showing_posts_before', lang=lang) }}{{ term.pages | length }}{{ trans(key='showing_posts_after', lang=lang) }}</p>

    <div class="posts-list">
        {% for page in term.pages %}
        <article class="post-card">
            <h2><a href="{{ page.permalink }}">{{ page.title }}</a></h2>
            <div class="post-card-meta">
                <time datetime="{{ page.date }}">{{ page.date | date(format="%Y-%m-%d") }}</time>
            </div>
        </article>
        {% endfor %}
    </div>

    <a href="{{ config.base_url }}/{{ taxonomy.name }}/" class="view-all">{{ trans(key='back_to_all_taxonomy', lang=lang) | replace(from='{taxonomy}', to=taxonomy.name) }}</a>
</section>
{% endblock %}
